.utility:hover{
      background-color:black;
      color:white;
}

.giffft{
	background-color:black;
	color:white;
}

.giffft:hover{
	background-color:white;
	color:black;
}

.giffft1:hover{
	background-color:black;
	color:white;
}